# SMTP Configuration
ENABLE_EMAIL=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
ALERT_EMAIL_RECIPIENT=admin@aquawatch.com

# Database
PG_HOST=aquawatch_db
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=aquawatch

# MQTT
MQTT_BROKER_URL=mqtt://mosquitto:1883
